<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>info</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}" />
    <h1>Sobre nosotros</h1>
    <footer th:replace="~{layout/plantilla :: footer}" />
    <section>
        <a id="final"></a>
        <!--comando para bajar al final--><a href="#final">ir abajo</a>
        <p>Somos La Ferreteria</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit eros, integer ut tempus augue odio tristique libero sollicitudin, ultricies natoque quisque orci mattis nullam posuere. Aliquam leo tincidunt tellus etiam blandit et nisl senectus eleifend, feugiat porttitor pharetra consequat mattis sed tempor lacinia habitasse, ante massa placerat rutrum maecenas tortor habitant at. Tempor euismod vivamus semper diam leo vulputate bibendum, felis lacinia turpis fringilla phasellus quisque sem vehicula, mus nisi aliquam proin odio eu.</p>
        <p>Velit fringilla mollis vitae justo habitant placerat vivamus curae hac pellentesque dictum aliquam, luctus orci ridiculus cum commodo felis leo congue enim augue. Neque nascetur mauris turpis feugiat sodales egestas erat maecenas, facilisi praesent ad massa cursus lobortis risus placerat, felis metus ultrices dapibus eu aliquet duis, et faucibus ridiculus pretium congue curabitur tempor. Nam tempus blandit urna cubilia aliquam a accumsan justo fringilla, augue id nullam porttitor varius vivamus interdum curabitur, montes dis nunc nisl odio ut ullamcorper tristique.</p>
        <p>Class fames purus cubilia dis nam lobortis tempor auctor aptent proin, ut venenatis rutrum malesuada porttitor ante ac phasellus taciti, euismod dictum pharetra metus arcu enim pretium nostra vehicula. Et sem fermentum natoque eget, lacus at sociosqu litora, malesuada ante parturient. Lobortis ante etiam commodo purus fringilla hendrerit varius, cursus himenaeos non nibh class vel, sed torquent euismod nullam vitae platea.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit eros, integer ut tempus augue odio tristique libero sollicitudin, ultricies natoque quisque orci mattis nullam posuere. Aliquam leo tincidunt tellus etiam blandit et nisl senectus eleifend, feugiat porttitor pharetra consequat mattis sed tempor lacinia habitasse, ante massa placerat rutrum maecenas tortor habitant at. Tempor euismod vivamus semper diam leo vulputate bibendum, felis lacinia turpis fringilla phasellus quisque sem vehicula, mus nisi aliquam proin odio eu.</p>
    </section>
</body>
</html>
