<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FerroMart</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="contenedor-imagen">
            <img class="imagen" src="https://media.istockphoto.com/id/596042932/es/foto/conjunto-de-herramientas-de-trabajo-de-la-mano-sobre-fondo-gris.jpg?s=612x612&w=0&k=20&c=KFPIvtYGal_ZyadcyUY44Y28DbdfEcPVtjOXnl-Vn7E=" alt="alt"/>
        </div>
        <div class="container-login">
            <form class="px-4 py-3" method="post" th:action="@{/login}">
                <h2>Iniciar Sesión.</h2>
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario:</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="nombre de usuario" required="true"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="contraseña" required="true"/>
                </div>
                <div class="mb-3">
                    <a class="dropdown-item" href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" value="Login" class="btn btn-success">Ingresar</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="regitrarse" th:href="@{/registro/nuevo}">
                <button type="submit" class="btn btn-success">Registrarse</button>
            </a>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
